@import './util/colors.css';

:root {
  /* Spyrothon branding */
  --st-purple: #67317c;
  --st-gold: #f4af36;

  /* Element theming */
  --bl-color-primary:     var(--purple-lightest);
  --bl-color-secondary:   var(--orange-light);
  --bl-color-background:  var(--purple-darkest);
}
