<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bingo Layout, 4 players</title>

    <link rel="stylesheet" href="../style/layout.css">
    <script src="./bl-bingo_4.js"></script>

    <style>
      bl-nameplate {
        position: absolute;
        top: 400px;
      }

      #nameplate1 {
        position: absolute;
        left: 160px;
      }

      #nameplate2 {
        position: absolute;
        right: 160px;
      }
    </style>
  </head>

  <body>
    <div class="layout">
      <bl-nameplate name="faulty" id="nameplate1"></bl-nameplate>
      <bl-nameplate name="AnEternalEnigma" id="nameplate2"></bl-nameplate>
    </div>
  </body>
</html>
